[Unit]
Description=evremap keyboard remapper
After=graphical-session.target

[Service]
ExecStart=/usr/bin/evremap remap /home/daniel/.config/evremap/config.toml
Restart=on-failure

[Install]
WantedBy=default.target
