* {
  font-family: "JetBrains Mono", "Symbols Nerd Font";
  font-size: 12px;
  min-height: 0;
  font-weight: bold;
  color: #ccc;
}

#window {
    padding-right: 8;
}

#waybar {
    background-color: #222;
}

#workspaces button.active {
    background-color: #333;
}

#clock {
    margin-right: 10px;
}
